
@media screen and (max-width: 768px){

    .certificacionContainerPrincipal{
        height: 500px;
    }

    .certificacionContainerPrincipal__image img{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 568px){

    .certificacionContainerPrincipal{
        height: 80%;
        margin-bottom: 30px;
    }

    .certificacionContainerPrincipal__image img{
        width: 85%;
        height: auto;
    }
}

@media screen and (max-width: 425px){

    .certificacionContainerPrincipal__image{
        margin-bottom: 20px;
    }
}

