
@media screen and (max-width: 1024px){

    .containerFooter p{
        font-size: 16px;
    }
}

@media screen and (max-width: 767px){

    .containerFooter__social {
        font-size: 25px;
    }

    .containerFooter__year {
        justify-content: center;
    }

    .containerFooter__social {
        justify-content: center;
    }
    
    .containerFooter__social a {
        margin: 0 25px;
    }
}

