
.experienciaContainerPrincipal__general{
    display: flex;
    justify-content: center;
}

.experienciaContainer{
    align-items: center;
}

.experienciaContainer h3{
    font-size: 32px;
    color: #508293;
}

.experienciaContainer div{
    margin: 18px;
    height: 90px;
    width: 90px;
}

.experienciaContainer__image{
    margin: 18px auto !important;
}

.experienciaContainer__image img{
    background-size: cover;
}

.experienciaContainer h4{
    font-size: 18px;
    color: #508293;
    text-align: center;
}