
.cursosItem{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.cursosItem:hover{
    animation: curso 2s;
}

@keyframes curso{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}