

.experienciaContainerPrincipal{
    height: 540px;
    margin: 100px 0;
    background-color: #F6F8FF;
    border-radius: 15px;
    padding-top: 20px;
}

.experienciaDetalle{
    color: #122A6C;
    font-size: 20px;
    margin-top: 10px;
}

.experienciaDetalle_izquiera{
    display: flex;
    align-items: center;
    border-right: 1px solid #BBC6E3;
}

.experienciaDetalle_izquiera div{
    margin-left: 0 50px;
}

.experienciaDetalle_izquiera span{
    color: #CE691B;
}

.experienciaDetalle_derecha{
   margin-top: 15px; 
   padding-left: 50px;
}

.experienciaDetalle_derecha p:first-child{
    font-size: 24px;
    font-weight: bold;
}
