
@media screen and (max-width: 1100px){
    .header__nav a{
        font-size: 1em;
    }

    .header__nav ul li{
        margin: 0 10px;
    }
    
}

@media screen and (max-width: 867px){
    .header__nav a{
        font-size: .9em;
    }
}

@media screen and (max-width: 767px){

    .burger-button{
        display: block;
    }

    .header_icono{
        display: inline;
    }

    /* .header{
        height: 200px;
    } */

    .header__logo {
        display: flex;
        justify-content: center;
    }

    .header__logo h1{
        margin: 15px 0 0 0;
    }

    .header__nav {
        display: flex;
        
    }

    .header__nav ul{
        display: flex;
        padding: 0;
        text-align: center;
        background-color: rgba(18, 42, 108, .9);
        z-index: 3;
        position: fixed;
        top: 0;
        left: -50vw;
        width: 50vw;
        height: 100vh;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        opacity: .9;
        transition: .5s;
        padding-left: 25px;
    }

    .header__nav ul.is-active{
        left: 0;
    }
    
    .header__nav ul li{
        margin: 20px 0;
    }

    .header__nav a{
        font-size: 2em;
        height: 40px;
        margin-bottom: .5em;
    }    
}
@media screen and (max-width: 600px){
    .header__nav ul{
        left: -70vw;
        width: 70vw;
    }
}

@media screen and (max-width: 500px)
{
    .header__nav ul{
        left: -80vw;
        width: 80vw;
    }

    .header__nav a{
        font-size: 1.5em;
    } 
}